.history
node_modules

# typescript
/typescript/**/.pnp.*
/typescript/**/.yar*
/typescript/**/.yarn/patches
/typescript/**/.yarn/plugins
/typescript/**/.yarn/releases
/typescript/**/.yarn/sdks
/typescript/**/.yarn/versions
/typescript/**/yarn.lock